<!DOCTYPE html>
<html>

<head>
    <meta charset="htf8">
    <title>Quiz add form</title>

</head>
<body>
    <form action="/add" method="POST">
        Key: <input type="text" name="key">
        Value: <input type="text" name="value"><br>
        <button type="submit" name="submit">Add to session</button>
    </form>

</body>
</html>